<p>Hi,</p>

<p>Your contribution for <strong><%= @contribution.course_label %></strong> has been processed.</p>

<% if @contribution.admin_reply.present? %>
  <p><%= @contribution.admin_reply %></p>
<% end %>

<%= render "mailer/site_footer" %>
