<%= render "summary", round: @round, course: @course %>

<%= render "scorecard", round: @round, holes: @holes %>

<p class="email-footer">
  Tracked with <a href="https://ugo.cr/7kG34" class="email-footer-link">grind.fdo.cr</a>
</p>
