<%= render "summary", round: @round, course: @course %>

<%= render "scorecard", round: @round, holes: @holes %>

<% if @show_register_cta %>
  <p class="email-footer">
    Want a better experience? Create a free account at
    <%= link_to "grind.fdo.cr", new_registration_url(utm_source: "round_recap", utm_medium: "email", utm_campaign: "register"), class: "email-footer-link" %>
    to keep all your rounds in one place.
  </p>
<% end %>

<%= render "mailer/site_footer" %>
