<div id="connection-banner" class="hidden" data-controller="connection">
  <div class="ui-banner-warning mb-4" data-connection-target="offline">
    <div class="flex items-center gap-2">
      <%= icon "wifi_off", class: "w-5 h-5" %>
      <span>You are offline. Your round is saved on this device and will sync when you reconnect.</span>
    </div>
  </div>
</div>
