<% if ENV["CLOUDFLARE_TURNSTILE_SITE_KEY"].present? %>
  <div class="ui-turnstile w-full"
       data-controller="turnstile"
       data-turnstile-sitekey-value="<%= ENV["CLOUDFLARE_TURNSTILE_SITE_KEY"] %>"
       data-turnstile-size-value="flexible"
       data-turnstile-theme-value="auto">
    <div data-turnstile-target="widget" class="w-full"></div>
  </div>
<% end %>
